/* Styles for row 1 */
.row-1{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.data-input{
  display: flex;
  vertical-align: center;
}

.data-input label{
  font-size: larger;
  margin-right: 1rem;
}

/* Styles for row 2 */

.row-2{
  display: flex;
  justify-content: space-evenly;
  vertical-align: center;
}

.input-area legend{
  font-size:xx-large;
}

.input-area textarea{
  width: 30vw;
  resize: none;

  font-size: large;
  color: black;

  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: white;
}

.buttons{
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
}

.buttons button{
  width: 10vw;
  height: 10%;
  margin-bottom: 0.75rem;
}
